.button {  
    -fx-background-color: 0;
    -fx-text-fill: black;
}
.button:hover {
    -fx-background-color: rgba(150, 150, 200, 0.1)
}
.login {
    -fx-padding: 0;
}
.white {
    -fx-text-fill: white;
}

.list-view {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-text-fill: #000;
    -fx-font-size: 32px;
}

list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#328BDB 0%, #207BCF 25%, #1973C9 75%, #0A65BF 100%);
    -fx-text-fill: white;
}

.list-cell:even, .list-cell:odd { /* <=== changed to even */
    -fx-background-color: 0;
}

.list-cell:filled:hover {
    -fx-background-color: #0093ff;
    -fx-text-fill: white;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-opacity: 0;
    -fx-pref-height: 0;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.thumb {
    -fx-pref-tile-width: 20px;
    -fx-background-color: black;
}